.buttonFontAdjustMobile {
    position: fixed;
    bottom: 85px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #slide-fontAdjust {
    width: 300px;
    padding: 10px;
  }

  .buttonScreenAdjustMobile{
    position: fixed;
    bottom: 150px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }