//Main container
.sliderAndroid{
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    padding: 10px;
}

//Contenedor para los textos del slider
.containerSliderPhoneText{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#containerSliderPhoneText_title, #containerSliderPhoneText_desc{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

//Buttons
.sliderAndroidButtonContainerRight{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sliderAndroidButtonContainerLeft{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.buttonSliderAndroid{
    width: 50px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonSliderAndroid i{
    font-size: 50px;
}

//Image container
.sliderAndroidImageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.phoneSlider{
    width: 600px;
    z-index: 1;
}

.phoneContentSliderImage{
    width: 250px;
    right: 42.05%;
    position: absolute;
    z-index: 0;
}