/*Colores de unidad 1*/
.navUnit1 {
    background-color: #be8899;
}

.nav-superiorUnit1 {
    background-color: #ad7386 !important;
}

.leftBorderUnit1 {
    border-left: #b88394 10px solid !important;
    transition: all 0.2s ease;
    font-weight: 600;
    color: #3d3d3d;
}

.leftBorderSecondaryUnit1 {
    border-left: #e9acc1 10px solid !important;
    transition: all 0.2s ease;
    color: #3d3d3d;
}

.leftBorderUnit1:hover,
.leftBorderSecondaryUnit1:hover {
    background-color: rgb(202, 202, 202);
    border-left: #724f5b 20px solid !important;
}

.activeLinkOptionsContentUnit1 {
    background-color: #ce93a7;
    border-left: #9e6276 20px solid !important;
    color: #fff !important;
    font-weight: 600;
}

.leftBorderOnUnit1 {
    border-left: #ad7386 10px solid !important;
    background-color: rgb(209, 209, 209);
    font-weight: 700;
    transition: all 0.1s ease;
}

/*Algunos estilos para la pantalla de carga de los cuestionarios*/
:root {
    --hue: 223;
    --bg: hsl(var(--hue), 10%, 90%);
    --fg: hsl(var(--hue), 10%, 10%);
    --primary: #ad7386;
    --primary-l: #be8899;
    --primary-d: #e0a2b5;
    --white: hsl(var(--hue), 10%, 100%);
    --white-d: hsl(var(--hue), 10%, 45%);
}

/*Menu lateral de textos*/
.leftBorderUnit1Menu {
    border-bottom: #ad7386 70px solid !important;
    overflow-x: hidden;
}

.activeButtonTextLateral {
    border-left: 10px #db9fb3 solid;
    background-color: #e9e9e9;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.lateralMenuAdjustTextTitle {
    background-color: #ad7386;
    position: relative;
    top: -10px;
    left: -10px;
    width: 350px;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}

/*Menu lateral para las secciones de la unidad en modo mobile*/
.containerSectionLateralMobileMenu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 0;
    margin: 0 0 10px 0;
}

.containerSectionLateralMobileMenu p {
    padding: 10px 10px;
    margin: 0 !important;
    height: 40px !important;
    font-weight: 600;
    display: none;
}

.titleSectionMobileMenu {
    height: 50px;
    border-radius: 5px !important;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: auto;
    cursor: pointer;
}

.titleSectionMobileMenu b {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.titleSectionMobileMenu i {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activeLinkOptionsContentUnit1Mobile {
    background-color: #dfdfdf;
    border-left: #db9fb3 10px solid !important;
    color: #292929;
    font-weight: 600;
}

#barraPreguntas,
#barraPreguntas2 {
    background: rgb(153,109,153);
    background: -moz-linear-gradient(90deg, rgba(153,109,153,1) 17%, rgba(116,84,116,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(153,109,153,1) 17%, rgba(116,84,116,1) 100%);
    background: linear-gradient(90deg, rgba(153,109,153,1) 17%, rgba(116,84,116,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#996d99",endColorstr="#745474",GradientType=1); 
    height: 20px;
    border-radius: 5px;
    width: 0px;
    transition: all 0.1s ease-in-out;
}

/*Inputs modificacion del color*/
/* Inactive/Active Default input field color */
.input-field input[type]:not([readonly]),
.input-field input[type]:focus:not([readonly]),
.input-field textarea:not([readonly]),
.input-field textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ad7386;
    box-shadow: 0 1px 0 0 #ad7386;
}

/* Inactive/Active Default input label color */
.input-field input[type]:focus:not([readonly]) + label,
.input-field textarea:focus:not([readonly]) + label {
    color: #ad7386;
}

/* Active/Inactive Invalid input field colors */
.input-field input[type].invalid,
.input-field input[type].invalid:focus,
.input-field textarea.invalid,
.input-field textarea.invalid:focus {
    border-bottom: 1px solid #ad7386;
    box-shadow: 0 1px 0 0 #ad7386;
}

/* Active/Inactive Invalid input label color */
.input-field input[type].invalid:focus + label,
.input-field input[type].invalid ~ .helper-text::after,
.input-field input[type].invalid:focus ~ .helper-text::after,
.input-field textarea.invalid:focus + label,
.input-field textarea.invalid ~ .helper-text::after,
.input-field textarea.invalid:focus ~ .helper-text::after {
    color: #ad7386;
}

/* Active/Inactive Valid input field color */
.input-field input[type].valid,
.input-field input[type].valid:focus,
.input-field textarea.valid,
.input-field textarea.valid:focus {
    border-bottom: 1px solid #ad7386;
    box-shadow: 0 1px 0 0 #ad7386;
}

/* Active/Inactive Valid input label color */
.input-field input[type].valid:focus + label,
.input-field input[type].valid ~ .helper-text::after,
.input-field input[type].valid:focus ~ .helper-text::after,
.input-field textarea.valid:focus + label,
.input-field textarea.valid ~ .helper-text::after,
.input-field textarea.valid:focus ~ .helper-text::after {
    color: #ad7386;
}